@charset "utf=8";

body {
    background: wheat;
    width: 800px;
    margin: 0 auto;
    color: #333;
}

header {
    text-align: center;
}

ul li {
    display: inline-block;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.p{
    border-bottom: 1px solid black;
}

.image1 {
    float: left;
    width: 300px;
    height: 300px;
}

.class1 {
    float: right;
}

.gauche {
    float: left;
    width: 40%;
}

.droite {
    float: right;
    width: 40%;
}

.class {
    
    padding-left: 20px;
    padding-top: 150px;
    width: 100%;
}

.clear {
    clear:both;
}
